#!/bin/bash

export NODE_HOME=/usr/local

export IDM_USER=YOUR USERNAME
export IDM_PASS=YOUR PASSWORD
export IDM_HOST=idm4.147.83.30.133.xip.io

export IDS_FOLDER=IDs
export SOS_FOLDER=SOs
export DPPS_FOLDER=DPPs
export SUBS_FOLDER=SUBs
export SODATA_FOLDER=SOdata
export ACCESS_TOKEN_FILENAME=access_token.id
export RANDOM_ACCESS_TOKEN_FILENAME=random_access_token.id
export SUBSCRIPTION_FILENAME=subscription.json
export SAMPLE_STREAM=position
export SAMPLE_DPP_AGG_STREAM=aggregate
export SAMPLE_DPP_FILT_STREAM=inLocation

export API_PUB_NODES=api.servioticy.com
export API_PUB_SEC_PORT=9090

export ROOT=`pwd`
export SCRIPTS=$ROOT/scripts
export TMPDIR=$ROOT/tmp
export PUSH_DATA_DELAY=5
